/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}
a {
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button:active, button:focus, input:active, input:focus, 
  a:focus, a:active, textarea:active, textarea:focus  {
  outline: none;
}

#root{
  display: block;
  margin: auto;
}
/* 
html, main {
  height: 100%;
} */

body {
  font-family: 'FreeSans',Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 120%;
  min-width: 100%;
  height: 100%;
}

a:visited, a:hover, a:active {
  color: #C32056;
}

a:hover {
  text-decoration: underline;
}

.header-container {
  width: 100%;
  background-color: #DDD;
}

.user-header-container {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

header {
  display: block;
  height: 74px;
  margin: auto;
  padding-bottom: 16px;
  width: 1000px;
}

.user-header {
  width: 100%;
  height: 50px;
  padding-bottom: 0px;
}

.flex-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.flex-7-12 {
  width: 58%;
}

.flex-5-12 {
  width: 42%;
  display: flex;
  justify-content: flex-end;
}

.flex-12-12 {
  width: 100%;
}

.head-brand {
  height: 90px;
}

.head-brand img {
  height: 22px;
  margin-top: 45px;
}

.head-brand .user {
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 50px;
}

.user img {
  margin: 0 20px 0 20px;
  height: 17px;
}

.user-global-link {
  background-color: #C32056;
  background: -webkit-linear-gradient(left, #6046FE, #C32056);
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  width: 29px;
  height: 29px;
  margin-right: 20px;
}

.logout, .header-link {
  font-size: 14px;
  color: #333;
  padding: 0 15px 0 15px;
  height: 100%;
  background-color: none;
  border: none;
  margin: 0;
}

.logout:hover, .header-link:hover {
  background-color: #DDD;
  cursor: pointer;
}

.head-statement h2 {
  font-size: 15px;
  color: #161113;
  margin-top: 6px;
}

.form-head {
  font-size: 15px;
  color: #333;
  padding-top: 40px;
  font-weight: 500;
}

.head-highlight {
  color: #C32056;
  background: -webkit-linear-gradient(left, #6046FE, #C32056);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

.head-links {
  justify-content: flex-end;
  align-items: flex-end;
  color: #161113;
  height: 90px;
  display: flex;
}

.head-links a {
  color: #161113;
  text-decoration: none;
  display: block;
}

.head-links a:hover {
  color: #161113;
  text-decoration: underline;
  cursor: pointer;
}

.head-links a:visited {
  color: #161113;
}

.head-links ul {
  display: flex;
}

.head-links li {
  margin-left: 40px;
  font-weight: bold;
  font-size: 15px;
  color: #161113;
}

.auth-page-content {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  height: 100vh;
  margin-bottom: -90px;
  background-color: #f3f3f3;
}

.auth-footer {
  background-color: #C32056;
  /* margin-top: 220px;
  height: 320px; */
  margin: 0;
  height: 0;
  width: 100%;
}

/* backend forms top-level head */
.form-head {
  font-size: 18px;
  text-align: center;
}

.top-rule {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 2px dotted #ccc;
  width: 100%;
}

.auth {
  width: 100%;
  /* background-color: #DDD; */
}
.demo-login-link {
  margin: auto;
}
.login-form-container {
  padding-top: 25px;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 650px;
  margin: auto;
}

.album-page {
  height: 100%;
}

.album-form-container {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  margin: auto;
}

.login-form-box {
  display: flex;
  flex-flow: column;
  width: 650px;
  margin: auto;
}

.login-form-box input, .album-form-box input{
  line-height: normal;
  width: 300px;
  height: 35px;
  border-radius: 0px;
  font-size: 16px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding-top: 0px;
  margin-right: 155px;
}

.login-form-box p {
  margin-top: 40px;
  text-align: center;
  margin-left: 20px;
  font-size: 12px;
  color: #818285;
}

label {
    width: 155px;
    text-align: right;
    margin-top: 8px;
    vertical-align: top;
    font-size: 16px;
    margin-right: 16px;
}

input[type="submit"] {
  background-color: #C32056;
  color: white;
  padding-left: 0px;
  margin-bottom: 70px;
  cursor: pointer;
}

.input-wrapper {
  width: 650px;
  display: flex;
  height: 59px;
  justify-content: center;
}

.user {
  height: 50px;
}

.form-errors {
  font-size: 14px;
  text-align: center;
  color: #C32056;
  margin-left: 20px;
  margin-top: 20px;
}

.album-form-box {
  display: flex;
  flex-flow: column;
  padding-bottom: 80px;
  height: 100%;
}

.album-form-container {
  width: 960px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #f7f7f7;
  height: 100%;
}

.album-menu-column {
  min-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 25px;
}

.album-info-column {
  width: 490px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left: 1px solid #cccc;
  border-top: none;
  z-index: 1;
}

.album-title-menu {
  width: 440px;
  padding: 10px;
  border-left: 1px solid #C32056;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ddd;
  display: flex;
  border-radius: 0px;
  z-index: 2;
  user-select: none;
}

.album-title-menu h3 {
  font-size: 20px;
  color: #363636;
  margin-top: 4px;
}

.album-title-menu p {
  font-size: 12px;
  color: #363636;
  margin-top: 3px;
}

.album-box {
  width: 960px;
  margin: auto;
}

.album-thumb-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.album-thumb {
  align: center;
  font-size: 10px;
  margin: 5px;
  width: 112px;
  height: 112px;
}

.album-image-thumb {
  width: 212px;
  height: 212px;
  position: relative;
  background-color: #DDD;
}

.album-image-1 {
  width: 212px;
  height: 212px;
  border: 1px solid #999;
}

.album-image-2, .album-image-blank {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.album-image-blank {
  border: 1px dashed #ccc;
}

.album-title-menu {
  display: flex;
  justify-content: flex-start;
}

.delete {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 4px;
    bottom: 5px;
    margin: 0px;
    width: 2em;
    padding: 0.25em;
    text-align: center;
    border: 1px solid silver;
    background: white;
    color: #C32056;
    text-decoration: none;
    cursor: pointer;
}

.album-form-label {
  font-size: 12px;
  color: #333;
  text-align: left;
}

.album-form-box .input-wrapper {
  width: 490px;
  display: flex;
  flex-direction: column;
}

.album-form-box .input-wrapper input {
  width: 405px;
  height: 22px;
  margin: 10px 0 10px 0;
  border-color: #9c9c9c #9c9c9c #ccc #ccc;
  font-size: 11px;
  color: #333;
  padding: 3px;
}

.album-textarea {
  font-size: 11px;
  resize: vertical;
  width: 405px;
  margin: 10px 0 10px 0;
  border-color: #9c9c9c #9c9c9c #ccc #ccc;
  color: #333;
  padding: 3px;
}

#album-form-title {
  font-size: 22px;
  border: 1px solid #9c9c9c;
  height: 39px;
  padding: 5px 10px;
}

.album-form-date {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#album-form-release-date {
  width: 170px;
  padding-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.album-form-date .album-form-label {
  width: auto;
}

#album-form-submit {
  background-color: #0ec200;
  border: 1px solid #51924c;
  width: 110px;
  height: 35px;
  padding-left: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  align: left;
  margin-left: 20px;
}

.album-menu-column .input-wrapper {
  width: auto;
}

.album-info-column {
  background-color: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-left: 10px;
  z-index: 1;
  height: 100%;
  /* box-shadow: 0 0 1px 0 #ccc; */
}

.album-rule {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px dotted #ccc;
  width: 95%;
}
.album-title-menu strong {
  font-weight: 700;
}

.album-list-thumb {
  width: 112px;
  height: 112px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  position: relative;
  font-size: 11px;
  line-height: 155%;
}

.album-list-thumb img {
  width: 112px;
  height: 112px;
}

.album-publish-head {
  margin-bottom: 10px;
}

.album-publish-menu {
  margin: 30px;
  font-size: 11px;
}

.with-textarea {
  height: auto;
}

.album-private {
  color: #f00;
  font-size: 10px;
}

.label-private {
    font-size: 10px;
    color: red;
    padding: 0.2em 0.3em;
    border: 1px solid red;
    background: white;
    width: 36px;
    height: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.album-link {
  width: 103px;
  height: 188px;
  margin-bottom: 32px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 6px;
}

.album-link:hover {
  background-color: #edf1f2;
  text-decoration: none;
  color: #333;
}

.album-link strong {
  font-weight: 700;
}

.album-link-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 11px;
  color: #333;
  margin-bottom: 3px;
}

.album-link-title:hover, .album-link-title:active, .album-linktitle:visited {
  text-decoration: none;
  color: #333;
}

.album-thumb, .album-thumb img {
  width: 103px;
  height: 103px;
  margin: 0 0 7px 0;
  padding: 0;
}

.splash-box {
  width: 1180px;
  display: flex;
  margin: auto;
}

.splash-big-feature {
  width: 870px;
  height: 442px;
  overflow: hidden;
  position: relative;
  margin-right: 2px;
}

.splash-big-image {
  width: 870px;
  top: -216px;
  position: absolute;
}

.splash-big-labels, .splash-side-labels {
  display: flex;
  flex-direction: column;
  align-items: bottom;
  width: 826px;
  position: absolute;
  bottom: 0;
  left: 100px;
  padding-bottom: 24px;
}

.splash-side-feature {
  display: flex;
  flex-direction: column;
  padding-bottom: 9x;
  margin-bottom: 2px;
}

.splash-side-labels {
  width: 290px;
  left: 12px;
  bottom: -162px;
  position: absolute;
  color: white;
}

.splash-side-labels:hover .splash-side-labels:active, .splash-side-labels:visited
.splash-big-labels:hover .splash-big-labels:active, .splash-big-labels:visited  {
  text-decoration: none;
  color: white;
}

.splash-big-title {
  color: white;
  font-size: 32px;
  line-height: 37px;
}

.splash-side-feature {
  width: 310px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.splash-side-image {
  width: 310px;
  top: -82px;
  position: absolute;
}

.splash-side-container {
  position: relative;
}

.splash-link-side {
  height: 146px;
  overflow: hidden;
  margin-bottom: 2px;
}

.splash-side-subtitle, .splash-big-subtitle {
  font-size: 12px;
  color: white;
}

.splash-big-subtitle {
  font-size: 14px;
  color: white;
  margin-top: 10px;
}

.splash-side-linktext {
  margin-top: 4px;
  font-size: 70%;
  text-transform: uppercase;
}

.splash-big-linktext {
  color: white;
  margin-top: 14px;
  font-size: 12px;
  padding: 12px;
  border: 1px solid white;
  border-radius: 8px;
  width: max-content;
  text-align: left;
}

.splash-big-linktext:hover::after {
  content: ' →'
}

.home-message {
  font-size:18px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

strong {
  font-weight: bold;
}

.album-box-head {
  color: #C32056;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 16px;
  margin-left: 12px;
}

.splash-side-play {
  box-sizing: border-box;
  font-size: 26px;
  color: white;
  background-color: #C32056;
  width: 90px;
  height: 65px;
  content: 'BBB';
  vertical-align: middle;
  text-align: center;
  position: absolute;
  bottom: 0px;
  right: -10px;
  padding-top: 20px;
}

.splash-side-play::after {
  content: '▶';
}

.splash-side-container .splash-side-play {
  visibility: hidden;
}

.splash-side-container:hover .splash-side-play {
  visibility: visible;
}

.splash-link:hover, .splash-big-image:hover {
  filter: brightness(110%);
}

.track-title-menu {
  width: 400px;
  height: 65px;
  padding: 10px;
  padding-left: 50px;
  display: flex;
  border-radius: 0px;
  position: relative;
  cursor: pointer;
  z-index: 0;
  user-select: none;
}

.track-title-menu:hover, .album-title-menu:hover {
  background-color: #fcfcfc;
}

.tab-off {
  background-color: none;
  border-top: 1px dotted #ccc;
}

.tab-on {
  background-color: white;
  border-left: 1px solid #C32056;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ddd;
  z-index: 100;
}

.tracks-section-head {
  color: #808080;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 16px;
}

.track-feature-on, .track-feature-off {
  position: absolute;
  width: 18px;
  height: 14px;
  left: 11px;
  font-size: 17px;
}

.track-feature-on::after {
  color: #68d277;
  content: '★';
}

.track-feature-off::after {
  color: #bbb;
  content: '☆';
}

.track-delete-button {
  position: absolute;
  right: 6px;
  top: 6px;
  color: #333;
  font-size: 14px;
}

.track-order {
  position: absolute;
  left: 23px;
  width: 23px;
  text-align: right;
  color: #666;
  font-size: 15px;
}

.track-head {
  position: absolute;
  width: 350px;
  left: 53px;
  top: 10px;
  margin-right: 20px;
  font-size: 15px;
  color: #363636;
}

.track-feature-description {
  position: absolute;
  color: #68d277;
  font-size: 9.5px;
  margin: 4px 18px 4px 0;
  top: 50px;
  left: 53px;
  line-height: 120%;
  max-width: 380px;
}

.track-title {
  position: absolute;
  left: 53px;
  top: 27px;
}

.track-title-input {
  width: 380px;
  height: 15px;
}

.feature-class {
  top: 40px;
}

.tracks-add-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.tracks-add-button {
  font-size: 19px;
  font-weight: normal;
  margin: 0 0 0 10px;
  color: #C32056;
  border: none;
  background: none;
  text-decoration: none;
  width: 80px;
  text-align: left;
}

.tracks-add-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.tracks-add-arrow {
  color: #C32056;
  font-size: 13px;
  margin: 0 0 0 5px;
}

.tracks-add-arrow::after {
  content: '▾';
}

.tracks-add-info {
  font-size: 12px;
  color: #909090;
  margin-left: 30px;
}

.track-load-hidden {
  visibility: hidden;
  width: 5px;
}

.track-file-details {
  margin-top: 20px;
  font-size: 10px;
  color: #666;
}

.track-file-replace {
  color: #333;
}

.track-file-replace:before {
  margin-left: 5px;
  content: ' | ';
}

.tracks-replace-button {
  font-size: 10px;
  color: #333;
  background-color: none;
  border: none;
  vertical-align: baseline;
  margin-left: 5px;
}

.tracks-replace-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.site-color {
  color: #C32056;
}

.audio-file {
  position: absolute;
  left: 50px;
  top: 50px;
}