@font-face {
    font-family: 'FreeSans';
    src: font-url('FreeSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FreeSans';
    src: font-url('FreeSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'FreeSans';
    src: font-url('FreeSansBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'FreeSans';
    src: font-url('FreeSansOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}