/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button:active, button:focus, input:active, input:focus, a:focus, a:active  {
  outline: none;
}


#root{
  display: block;
  margin: auto;
  
}
@font-face {
    font-family: 'FreeSans';
    src: url('./fonts/FreeSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FreeSans';
    src: url('./fonts/FreeSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'FreeSans';
    src: url('./fonts/FreeSansBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'FreeSans';
    src: url('.fonts/FreeSansOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

body {
      font-family: 'FreeSans',Helvetica,Arial,sans-serif;
      font-size: 13px;
      line-height: 120%;
      min-width: 100%;
}

.header-container {
  width: 100%;
  background-color: #DDD;
}

.user-header-container {
  width: 100%;
  background-color: #fff;
}

header {
  display: block;
  height: 90px;
  margin: auto;
  padding-bottom: 16px;
  width: 1000px;
}

.user-header {
  width: 100%;
  height: 50px;
}

.flex-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: #DDD; */
}

.flex-7-12 {
  width: 58%;
}

.flex-5-12 {
  width: 42%;
  display: flex;
  justify-content: flex-end;
}

.flex-12-12 {
  width: 100%;
}

.head-brand {
  height: 90px;
}

.head-brand img {
  height: 22px;
  margin-top: 45px;
}

.head-brand .user {
  height: 53px;
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 100%;
}

.user img {
  margin: 18px 20px 0 20px;
  height: 17px;
}

.logout, .header-link {
  font-size: 14px;
  color: #333;
  padding: 0 15px 0 15px;
  height: 100%;
  background-color: none;
  border: none;
  margin: 0;
}

.logout:hover, .header-link:hover {
  background-color: #DDD;
}

.head-statement h2 {
  font-size: 15px;
  color: #161113;
  margin-top: 6px;
}

.form-head {
  font-size: 15px;
  color: #333;
  padding-top: 40px;
  font-weight: 500;
}

.head-highlight {
  color: #C32056;
  background: -webkit-linear-gradient(left, #6046FE, #C32056);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

.head-links {
  justify-content: flex-end;
  align-items: flex-end;
  color: #161113;
  height: 90px;
  display: flex;
}

.head-links a {
  color: #161113;
  text-decoration: none;
  display: block;
}

.head-links a:hover {
  color: #161113;
  text-decoration: underline;
}

.head-links a:visited {
  color: #161113;
}

.head-links ul {
  display: flex;
}

.head-links li {
  margin-left: 40px;
  font-weight: bold;
  font-size: 15px;
  color: #161113;
}

.auth-page-content {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  height: 100vh;
  margin-bottom: -90px;
  background-color: #f3f3f3;
}

.auth-footer {
  background-color: #C32056;
  margin-top: 220px;
  height: 320px;
  width: 100%;
}

/* backend forms top-level head */
.form-head {
  font-size: 18px;
  text-align: center;
}

.top-rule {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 2px dotted #ccc;
  width: 100%;
}

.auth {
  width: 100%;
  /* background-color: #DDD; */
}

.login-form-container, .album-form-container {
  padding-top: 25px;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 650px;
  margin: auto;
}

.login-form-box, .album-form-box {
  display: flex;
  flex-flow: column;
  width: 650px;
  margin: auto;
}

.login-form-box input, .album-form-box input, .album-form-box textarea {
  line-height: normal;
  width: 300px;
  height: 35px;
  border-radius: 0px;
  font-size: 16px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding-top: 0px;
  margin-right: 155px;
}

.album-form-box textarea {
  height: 48px;
  resize: auto;

}

.login-form-box p {
  margin-top: 40px;
  text-align: center;
  margin-left: 20px;
  font-size: 12px;
  color: #818285;
}

label {
    width: 155px;
    text-align: right;
    margin-top: 8px;
    vertical-align: top;
    font-size: 16px;
    margin-right: 16px;
}

input[type="submit"] {
  background-color: #C32056;
  color: white;
  padding-left: 0px;
  margin-bottom: 70px;
}

#album-form-submit {
  background-color: #0ec200;
  border: 1px solid #51924c;
  width: 110px;
  padding-left: 5px;
}

.input-wrapper {
  width: 650px;
  display: flex;
  height: 59px;
  justify-content: center;
}

.user {
  height: 55px;
}

.form-errors {
  font-size: 14px;
  text-align: center;
  color: #C32056;
  margin-left: 20px;
  margin-top: 20px;
}

.form-album-title {
  font-size: 22px;
  width: 427px;
  height: 42px;
}


.album-head {
  font-size: 28px;
  position: absolute;
  top: 90px;
  left: 90px;
}